php7.0+swoole create daemon failed

(swoole)[https://github.com/swoole/swoole-src/issues/794]

```
//listen stream socket
    if (listen(sock, ls->backlog) < 0)
    {
        swWarn("listen(%s:%d, %d, %d) failed. Error: %s[%d]", ls->host, ls->port, ls->backlog, sock, strerror(errno), errno);
        return SW_ERR;
    }
```

```
[2016-07-30 23:34:15 @26162.0]  WARNING swPort_set_option: listen(0.0.0.0:9501, 4, 3) failed. Error: Invalid argument[22]
[2016-07-30 23:34:15 @26162.0]  WARNING swPort_set_option: listen(0.0.0.0:9501, 4, 3) failed. Error: Invalid argument[22]
```

bind success ,but listen fail.


socket create by:
socket(AF_INET, SOCK_STREAM)

OR

socket(PF_INET, SOCK_STREAM)

all can not work.

I  have update the strace log in  https://github.com/swoole/swoole-src/issues/794

Thanks for reporting the issue and collecting the traces. From the trace, it appears that the socket that is failing is "socket(PF_INET, SOCK_STREAM, **IPPROTO_IP**)". That would make sense because we currently do not support "IPPROTO_IP" protocol.
Just an added note that we support "socket(AF_INET, SOCK_STREAM, 0)", which by default should open the socket with the TCP protocol.
I have opened a bug to track this. Can you please also post the repro steps?

I want to post back. but I do not know why? I change the code to  `return socket(AF_INET, SOCK_STREAM, 0);`  , but strace still shows `socket(PF_INET, SOCK_STREAM, IPPROTO_IP) ` , maybe the make do some optimization ? I will contact the author of swoole. I am new boy with c language.

I have no idea.  in /etc/protocols：

```
ip	0	IP		# internet protocol, pseudo protocol number
hopopt	0	HOPOPT		# IPv6 Hop-by-Hop Option [RFC1883]
icmp	1	ICMP		# internet control message protocol
igmp	2	IGMP		# Internet Group Management
ggp	3	GGP		# gateway-gateway protocol
ipencap	4	IP-ENCAP	# IP encapsulated in IP (officially ``IP'')
st	5	ST		# ST datagram mode
tcp	6	TCP		# transmission control protocol
egp	8	EGP		# exterior gateway protocol
igp	9	IGP		# any private interior gateway (Cisco)
pup	12	PUP		# PARC universal packet protocol
udp	17	UDP		# user datagram protocol
hmp	20	HMP		# host monitoring protocol
xns-idp	22	XNS-IDP		# Xerox NS IDP
rdp	27	RDP		# "reliable datagram" protocol
iso-tp4	29	ISO-TP4		# ISO Transport Protocol class 4 [RFC905]
dccp	33	DCCP		# Datagram Congestion Control Prot. [RFC4340]
xtp	36	XTP		# Xpress Transfer Protocol
ddp	37	DDP		# Datagram Delivery Protocol
idpr-cmtp 38	IDPR-CMTP	# IDPR Control Message Transport
ipv6	41	IPv6		# Internet Protocol, version 6
ipv6-route 43	IPv6-Route	# Routing Header for IPv6
ipv6-frag 44	IPv6-Frag	# Fragment Header for IPv6
idrp	45	IDRP		# Inter-Domain Routing Protocol
rsvp	46	RSVP		# Reservation Protocol
gre	47	GRE		# General Routing Encapsulation
esp	50	IPSEC-ESP	# Encap Security Payload [RFC2406]
ah	51	IPSEC-AH	# Authentication Header [RFC2402]
skip	57	SKIP		# SKIP
ipv6-icmp 58	IPv6-ICMP	# ICMP for IPv6
ipv6-nonxt 59	IPv6-NoNxt	# No Next Header for IPv6
ipv6-opts 60	IPv6-Opts	# Destination Options for IPv6
rspf	73	RSPF CPHB	# Radio Shortest Path First (officially CPHB)
vmtp	81	VMTP		# Versatile Message Transport
eigrp	88	EIGRP		# Enhanced Interior Routing Protocol (Cisco)
ospf	89	OSPFIGP		# Open Shortest Path First IGP
ax.25	93	AX.25		# AX.25 frames
ipip	94	IPIP		# IP-within-IP Encapsulation Protocol
etherip	97	ETHERIP		# Ethernet-within-IP Encapsulation [RFC3378]
encap	98	ENCAP		# Yet Another IP encapsulation [RFC1241]
#	99			# any private encryption scheme
pim	103	PIM		# Protocol Independent Multicast
ipcomp	108	IPCOMP		# IP Payload Compression Protocol
vrrp	112	VRRP		# Virtual Router Redundancy Protocol [RFC5798]
l2tp	115	L2TP		# Layer Two Tunneling Protocol [RFC2661]
isis	124	ISIS		# IS-IS over IPv4
sctp	132	SCTP		# Stream Control Transmission Protocol
fc	133	FC		# Fibre Channel
mobility-header 135 Mobility-Header # Mobility Support for IPv6 [RFC3775]
udplite	136	UDPLite		# UDP-Lite [RFC3828]
mpls-in-ip 137	MPLS-in-IP	# MPLS-in-IP [RFC4023]
manet	138			# MANET Protocols [RFC5498]
hip	139	HIP		# Host Identity Protocol
shim6	140	Shim6		# Shim6 Protocol [RFC5533]
wesp	141	WESP		# Wrapped Encapsulating Security Payload
rohc	142	ROHC		# Robust Header Compression

```

I have tried set the third param to 0 and 6 , but no effect. 

@lscgzwd - It looks like that is how strace reports it. If you use 0 or IPPROTO_TCP for the third argument in the 'socket' call, you should be fine. Can you try this again on the latest build? And, if it is still not working for you, can you share a specific repro for it?

How can I try the latest build ? Do: lxrun /uninstall & lxrun /install ? I must remove the current build and reinstall it?

@sunilmut -- is the latest build still the original Anniversary Update?  I haven't seen a new build since then.

@lscgzwd -- new builds are made available through Windows 's "Check for Updates" tool.  You may need to join the Windows Insider "Fast Ring" to see them.  Note that this installs a pre-release version of the Windows NT kernel (as well as other features) which may contain bugs, etc.

@aseering Thanks. I have join the Windows Insider "Fast Ring", and I'm the newest build 14393.10 . I can not find any update at this time. 

Flighting for post Anniversary Update builds has not yet started but I expect it to start sometime this month.

```
stat("/etc/localtime", {st_mode=S_IFREG|0644, st_size=127, ...}) = 0
write(1, "[2016-08-13 23:34:56 @3023.0]\tWA"..., 114[2016-08-13 23:34:56 @3023.0]	WARNING	swSocket_create: swSocket_create() info. params to call socket([2], [1], 0)
) = 114
socket(PF_INET, SOCK_STREAM, IPPROTO_IP) = 3
setsockopt(3, SOL_SOCKET, SO_REUSEADDR, [1], 4) = 0
bind(3, {sa_family=AF_INET, sin_port=htons(9501), sin_addr=inet_addr("0.0.0.0")}, 16) = 0
time(NULL)                              = 1471102496
stat("/etc/localtime", {st_mode=S_IFREG|0644, st_size=127, ...}) = 0
write(1, "[2016-08-13 23:34:56 @3023.0]\tWA"..., 87[2016-08-13 23:34:56 @3023.0]	WARNING	swSocket_bind: bind(0.0.0.0:9501) notice [3][0].
) = 87
fcntl(3, F_GETFL)                       = 0x2 (flags O_RDWR)
fcntl(3, F_SETFL, O_RDWR|O_NONBLOCK)    = 0
mmap(NULL, 528384, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x7f40fd950000
brk(0x7fffbf6a1000)                     = 0x7fffbf6a1000
mmap(NULL, 8388696, PROT_READ|PROT_WRITE, MAP_SHARED|MAP_ANONYMOUS, -1, 0) = 0x7f40f00be000
mmap(NULL, 225280, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x7f40ff860000
getcwd("/mnt/g/workspace/workspace/swoole-src", 128) = 38
stat("/mnt/g/workspace/workspace/swoole-src", {st_mode=S_IFDIR|0777, st_size=0, ...}) = 0
open("/data/logs/swoole.log", O_RDWR|O_CREAT|O_APPEND, 0666) = 4
dup2(4, 1)                              = 1
clone(Process 3024 attached
child_stack=0, flags=CLONE_CHILD_CLEARTID|CLONE_CHILD_SETTID|SIGCHLD, child_tidptr=0x7f40ff9f0a10) = 3024
[pid  3024] set_robust_list(0x7f40ff9f0a20, 24 <unfinished ...>
[pid  3023] exit_group(0)               = ?
[pid  3024] <... set_robust_list resumed> ) = 0
[pid  3023] +++ exited with 0 +++
setsid()                                = 3024
chdir("/")                              = 0
time(NULL)                              = 1471102496
mmap(NULL, 32856, PROT_READ|PROT_WRITE, MAP_SHARED|MAP_ANONYMOUS, -1, 0) = 0x7f40ffa54000
brk(0x7fffbf6c2000)                     = 0x7fffbf6c2000
eventfd2(0, O_NONBLOCK)                 = 5
eventfd2(0, O_NONBLOCK)                 = 6
eventfd2(0, O_NONBLOCK)                 = 7
eventfd2(0, O_NONBLOCK)                 = 8
listen(3, 4)                            = -1 EINVAL (Invalid argument)
time(NULL)                              = 1471102496
stat("/etc/localtime", {st_mode=S_IFREG|0644, st_size=127, ...}) = 0
write(4, "[2016-08-13 23:34:56 @3023.0]\tWA"..., 120) = 120

```

still can not run on  build 14901

Still not work on 14905

```
open("/mnt/g/workspace/workspace/enterprise-swoole-lusc/swoole/SwooleServer.php", O_RDONLY) = 3
fstat(3, {st_mode=S_IFREG|0777, st_size=15834, ...}) = 0
fstat(3, {st_mode=S_IFREG|0777, st_size=15834, ...}) = 0
fstat(3, {st_mode=S_IFREG|0777, st_size=15834, ...}) = 0
fstat(3, {st_mode=S_IFREG|0777, st_size=15834, ...}) = 0
mmap(NULL, 15834, PROT_READ, MAP_SHARED, 3, 0) = 0x7f1d478b4000
munmap(0x7f1d478b4000, 15834)           = 0
close(3)                                = 0
access("/tmp/swooleserver.pid", F_OK)   = -1 ENOENT (No such file or directory)
socket(PF_INET, SOCK_STREAM, IPPROTO_IP) = 3
setsockopt(3, SOL_SOCKET, SO_REUSEADDR, [1], 4) = 0
bind(3, {sa_family=AF_INET, sin_port=htons(9501), sin_addr=inet_addr("0.0.0.0")}, 16) = 0
fcntl(3, F_GETFL)                       = 0x2 (flags O_RDWR)
fcntl(3, F_SETFL, O_RDWR|O_NONBLOCK)    = 0
mmap(NULL, 528384, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x7f1d47670000
brk(0x7fffe633d000)                     = 0x7fffe633d000
mmap(NULL, 8388696, PROT_READ|PROT_WRITE, MAP_SHARED|MAP_ANONYMOUS, -1, 0) = 0x7f1d37ebe000
mmap(NULL, 221272, PROT_READ|PROT_WRITE, MAP_SHARED|MAP_ANONYMOUS, -1, 0) = 0x7f1d47639000
getcwd("/mnt/g/workspace/workspace/enterprise-swoole-lusc", 128) = 50
stat("/mnt/g/workspace/workspace/enterprise-swoole-lusc", {st_mode=S_IFDIR|0777, st_size=0, ...}) = 0
open("/data/logs/swoole.log", O_RDWR|O_CREAT|O_APPEND, 0666) = 4
dup2(4, 1)                              = 1
clone(child_stack=0, flags=CLONE_CHILD_CLEARTID|CLONE_CHILD_SETTID|SIGCHLD, child_tidptr=0x7f1d47850a10) = 200
Process 200 attached
[pid   199] exit_group(0)               = ?
[pid   200] set_robust_list(0x7f1d47850a20, 24) = 0
[pid   199] +++ exited with 0 +++
setsid()                                = 200
chdir("/")                              = 0
time(NULL)                              = 1471961927
mmap(NULL, 32856, PROT_READ|PROT_WRITE, MAP_SHARED|MAP_ANONYMOUS, -1, 0) = 0x7f1d478a7000
eventfd2(0, O_NONBLOCK)                 = 5
eventfd2(0, O_NONBLOCK)                 = 6
eventfd2(0, O_NONBLOCK)                 = 7
eventfd2(0, O_NONBLOCK)                 = 8
listen(3, 4)                            = -1 EINVAL (Invalid argument)
time(NULL)                              = 1471961927
stat("/etc/localtime", {st_mode=S_IFREG|0644, st_size=127, ...}) = 0
write(4, "[2016-08-23 22:18:47 @199.0]\tWAR"..., 116) = 116
mmap(NULL, 2097240, PROT_READ|PROT_WRITE, MAP_SHARED|MAP_ANONYMOUS, -1, 0) = 0x7f1d37cbd000
mmap(NULL, 2097240, PROT_READ|PROT_WRITE, MAP_SHARED|MAP_ANONYMOUS, -1, 0) = 0x7f1d37abc000
mmap(NULL, 2097240, PROT_READ|PROT_WRITE, MAP_SHARED|MAP_ANONYMOUS, -1, 0) = 0x7f1d378bb000
mmap(NULL, 2097240, PROT_READ|PROT_WRITE, MAP_SHARED|MAP_ANONYMOUS, -1, 0) = 0x7f1d376ba000
socketpair(PF_LOCAL, SOCK_DGRAM, 0, 0x7fffe633cd70) = -1 ESOCKTNOSUPPORT (Socket type not supported)
time(NULL)                              = 1471961927
stat("/etc/localtime", {st_mode=S_IFREG|0644, st_size=127, ...}) = 0
write(4, "[2016-08-23 22:18:47 @199.0]\tWAR"..., 117) = 117
time(NULL)                              = 1471961927
stat("/etc/localtime", {st_mode=S_IFREG|0644, st_size=127, ...}) = 0
write(4, "[2016-08-23 22:18:47 @199.0]\tWAR"..., 100) = 100
write(2, "PHP Fatal error:  Swoole\\Http\\Se"..., 227PHP Fatal error:  Swoole\Http\Server::start(): start server failed. Error: swFactoryProcess_start: swFactoryProcess_manager_start failed. in /mnt/g/workspace/workspace/enterprise-swoole-lusc/swoole/SwooleServer.php on line 128
) = 227
time(NULL)                              = 1471961927
stat("/etc/localtime", {st_mode=S_IFREG|0644, st_size=127, ...}) = 0
write(4, "[2016-08-23 22:18:47 @199.0]\tERR"..., 292) = 292
close(2)                                = 0
close(1)                                = 0
munmap(0x7f1d47700000, 4096)            = 0
close(0)                                = 0

```

still not work on build 14915

@lscgzwd Can you please post your repro steps?

@sunilmut  
1. my current system version is 14915, I can not upgrade to 14926 with update fail message. So I do not known if this been fixed in 14926.
2. I have installed bash on 14939, then upgrade windows to 14915, should I uninstall the bash and reinstall  it ?
3. repro steps:
3.1 install bash
3.2 open bash
3.3 install php7 with ppa source
3.4 build swoole extension 
3.4.1 download swoole by git ` git clone https://github.com/swoole/swoole-src.git`
3.4.1 cd swoole-src
3.4.2 phpize
3.4.3 ./configurate 
3.4.4 make & make install 
3.4.5 run my project : https://github.com/lscgzwd/yii2-swoole with command `strace -f php api/web/swoole.php start`

I try to comment out  this.
```
if (daemon(0, 1) < 0)
        {
            return SW_ERR;
        }
```
and rebuild the swoole extension. it works good. Dose the Bash On Windows not support c function daemon to create daemon process ?

@lscgzwd - Thanks for the feedback and your patience! `daemons` are currently not fully supported on WSL. If you can take an strace of the failing command or just the 'daemon' call, we can see where exactly it is failing. Please share the strace.

As mentioned previously, we don't currently support daemons. You can help us prioritize this for future work by voicing your opinion (up vote) in the [user voice page](https://wpdev.uservoice.com/forums/266908-command-prompt-console-bash-on-ubuntu-on-windo/suggestions/13653522-consider-enabling-cron-jobs-daemons-and-background)

Thank you.  trace log already add at: https://github.com/Microsoft/BashOnWindows/issues/702#issuecomment-239626777

I want to add to small unit test. but I am not a professional on c program.

I think this is fixed at the newest build . Test ok.